<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript">
        classname = "mobilePrestitial__link";

        tryclick(0);

        function tryclick(i) {
            if (i > 20) {
                alert("Reach more than 20 and going back.");
                return false;
            }

            var element = document.getElementsByClassName(classname);
            if (element[0] == undefined){
                setTimeout(function () {
                    var newi = i+1;
                    tryclick(newi);
                }, 500);
            }else{
                console.log("element reached with successful. Tries: "+i, element);
            }
        }
    </script>
</head>
<body>
    <div class="mobilePrestitial__link">teste</div>
</body>
</html>