/* DEFAULTS */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,700');

a{  cursor: pointer !important;  }
* {  margin: 0;  padding: 0;  font-size: 12px;  font-family: 'montserrat', sans-serif; color: #fff;  }
ul{  list-style: none;   }
div.inside {  width: 1280px;  margin: 0 auto;  position: relative;  z-index: 1;   }
div.full {  background: #0e090e;  min-height: 523px;   }

.cleaner{  clear: both !important;  float: none !important;  width: 100% !important;  height: 0 !important;   }

.parallax-window {  min-height: 300px;  background: transparent;  position: relative;   }
.parallax-window .bg{  position: absolute;  top: 0;  left: 0;  width: 100%;  height: 100%;  background: rgba(0,0,0,0.9);   }
.parallax-window div.title {  width: 100%;  position: relative;  line-height: 300px;  text-align: center;  font-size: 26px;  text-transform: uppercase;  color: #fff;  font-weight: 700;  letter-spacing: 4px;   }

.main-title{  font-weight: 700;  color: #fff; padding-bottom: 10px;  }

.main-title div:first-child{  font-size: 14px;   }

/*blue->purple*/
.main-title.bp div:last-child{ /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,da2fed+100 */  background: #7db9e8; /* Old browsers */  background: -moz-linear-gradient(left, #7db9e8 0%, #da2fed 100%); /* FF3.6-15 */  background: -webkit-linear-gradient(left, #7db9e8 0%,#da2fed 100%); /* Chrome10-25,Safari5.1-6 */  background: linear-gradient(to right, #7db9e8 0%,#da2fed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */   }
/*orange->purple*/
.main-title.op div:last-child {  background: #e0b750; /* Old browsers */  background: -moz-linear-gradient(left, #e0b750 0%, #da2fed 100%); /* FF3.6-15 */  background: -webkit-linear-gradient(left, #e0b750 0%, #da2fed 100%); /* Chrome10-25,Safari5.1-6 */  background: linear-gradient(to right, #e0b750 0%, #da2fed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */   }

.main-title div:last-child{  height: 2px;  width: 100%;  margin-top: 10px;   }

/**********************************************************************************
 * DEFAULTS
 ********************************************************************************* /

/*
 * home
 */
div#particles-js {  position: relative;  z-index: 2;  opacity: 0.1;  height: 98%;   }

div#absolute-center .info {  width: 1280px;  margin: 0 auto;  height: 100%;  position: relative;   }
div#absolute-center {  position: absolute;  top: 0;  width: 100%;  height: 100%;   }

div#menu {  background: rgba(0, 0, 0, 0.4);  color: #fff;  position: fixed;  width: 100%;  height: 100px;  z-index: 100;   }
div#menu .inside {  position: relative;  top: 37%;   }
div#menu .itens a {  padding: 0 25px;  text-decoration: none;  color: #fff;  text-transform: uppercase;  font-weight: 700;   }
div#menu .itens {  float: right;   }
div#menu #photo {  float: left;   }

#photo_bg {  position: absolute;  width: 100%;  height: 100%;  background: rgba(6, 2, 6, 0.9);  left: 0;  top: 0;   }

div#c1 {  position: relative;  background-image: url('/site/media/images/fe.jpg');  background-size: 100%;   }


.headline h2 {  font-size: 21px;  color: #441b32;  text-transform: uppercase;  }

.headline h1 {  font-size: 50px;  }
.headline {  position: absolute;  bottom: 300px;  right: 25px;  font-size: 30px;  }

div#menu #photo {  float: left;  width: 233px;  margin-top: -25px;  display: table;  }

div#photo img {  width: 75px;  float: left;  border-radius: 50px;  }

div#photo > span {  float: left;  line-height: 75px;  margin-left: 20px;  font-weight: 700;  font-family: 'ubuntu', sans-serif;  font-size: 18px;  color: rgb(71, 45, 82);  }

a.cv_impressor.anchor-scroll { z-index: 2;  position: absolute;  bottom: 300px;  background: #00a1ff;  padding: 20px 45px;  border-radius: 5px;  font-size: 14px;  color: #fff;  text-transform: uppercase;  font-family: ubuntu, sans-serif;  font-weight: bold;  }
a.cv_impressor.knowme {
    left: 215px;
    background: #7a00ff;
}

/*
 * knowledge
 */
div#know {  padding: 50px 0 100px 0;   }
div#know > div.item {  box-sizing: border-box;  width: 33%;  float: left;  padding: 0 15px;  margin: 45px 0;  height: 385px;   }

div#know div.title {  text-align: center;   }

.graphs > div {  box-sizing: border-box;  width: 50%;  float: left;  text-align: center;   }

.circle-xp {  right: 30px;   }
.circle-level {  left: 30px;   }
.circle-level span.title, .circle-xp span.title {  position: absolute;  top: -25px;  left: 50%;  margin-left: -20px;  text-transform: uppercase;  width: 40px;  text-align: center;   }
.circle-level, .circle-xp {  position: relative;  top: 20px;   }

div#know .logo {  width: 200px;  height: 200px;  background: black;  border-radius: 100px;  margin: 25px auto;   }

.circle-level .info {  position: absolute;  top: 50%;  margin-top: -21px;  left: 50%;  margin-left: -16px;   }
.circle-level .info > div:first-child {  font-size: 19px;  font-weight: bold;   }

div.circle-xp .info {  position: absolute;  top: 50%;  left: 50%;  margin-top: -14px;  margin-left: -22px;   }
div.circle-xp .info div {  font-size: 20px;  font-weight: 700;   }


div#know .item .logo {  position: relative;  }
div#know .item .logo img {  height: 70px;  display: block;  position: absolute;  top: 50%;  margin-top: -35px;  left: 32%;  }

/*
 * About
 */

div#about .inside > div {  float: left;  width: 50%;  box-sizing: border-box;  padding: 0 15px;   }

div#about .text {  margin-bottom: 25px;  }

div#about .full {  padding: 100px 0;   }

div#about .videos iframe {  width: 100%;  height: 400px;  }

div#about .videos h1 {  text-align: center;  text-transform: uppercase;  font-size: 20px;  margin-bottom: 30px;  }
div#about .videos {  margin-bottom: 60px;  }

span.github a {  font-weight: inherit;  font-size: inherit;  color: inherit;  text-decoration: none;  }
span.github.current {  background: #4a9bb3;  }
span.github {  padding: 10px;  display: inline-block;  background: gray;  border-radius: 5px;  margin-top: 23px;  margin-right: 20px;  text-transform: uppercase;  font-weight: 700;  }

/**
 * Resume
 */

.cd-timeline-content p{  color: #000;  }

.cd-timeline-img.bounce-in {  background: #c3c3c3;  }

div#history .full {  padding-bottom: 100px;  }

/*
 * contact
 */

div#contact .card .dados * {  color: #000;  }
div#contact .card .dados {  background: #fff;  padding: 50px 35px;  }
div#contact .card .header {  background: #dedede;  text-align: center;  padding: 75px 0;  color: #000;  }

div#contact .card .dados > div {  width: 50%;  float: left;  box-sizing: border-box;  }

div#contact .card {  position: relative;  top: 110px;  }

div#contact .card .dados h2 {  font-size: 18px;  color: #b5b5b5;  margin-bottom: 30px;  display: block;  }
div#contact .card .dados h1 {  color: #c5327d;  font-size: 20px;  font-family: ubuntu, sans-serif;  }

.footer {  height: 300px;  background: #080308;  text-align: center;  box-sizing: border-box;  padding-top: 130px;  }